<div id="header">
                <a href="/"><div id="logo"></div></a>
                <div id="menu">
                    <ul>
                        {{# each data.menu}}
                        <li><a href="/{{link}}">{{label}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
<div id="hero" style="background-image: url(/images/post_its.jpg);">
    </div>
    <!------------------Content------------------->
    <div id="content">
        <div class="label label_idea">IDEAS</div>
        <div id="content_title">Who We Are</div>
        <div id="content_text">
            <p>The SlashRoots Foundation designs digital services and tools to transform the relationship between Caribbean governments and citizens. We help governments and other social impact organizations achieve their missions and empower communities by better using technology and data.</p>
            <div class="content_image" id="content_image_1">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/12mfbJdUKQk" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>SlashRoots began as a community of developers, designers and entrepreneurs from across the region, sharing knowledge through an online mailing list and exploring how technology could positively affect the Caribbean. As our membership grew, our vision became more focused: we want to work with Caribbean's leading institutions and the communities they serve to apply a different approach to the challenges that have historically plagued the region.</p>
            <p>One that was more open, participatory, and agile. We created the SlashRoots Foundation to help organizations incorporate these values into their work and help usher in a new Caribbean.</p>
            <p class="content_subtitle">Our Approach / What we do</p>
            <p>Since 2011 SlashRoots has partnered with a variety of  government agencies, development organizations, academic institutions and private sector organizations to better use technology, citizen-centred design practices and data to improve services and create innovative solutions to problems.</p>
            <p>Though we tailor our methods to the challenge at hand, our work as a whole reflects a set of underlying principles that cut across each engagement.</p>
            <p class="content_subtitle">Understanding Context Through Immersion</p>
            <p>Effective services and programmes demands context-driven planning and implementation. We begin all of our work we a deep commitment to understanding the institutional and community dynamics, and citizen experience related to the challenge, as well as the capabilities and motivations that programmes are expected to operate in and serve.</p>
            <p>In doing so, we help our partners design more effective programmes, apply appropriate technologies, and build trust among the stakeholders that are critical to achieving successful outcomes.</p>
            <p class="content_subtitle">Open Data. Open Source. Open Innovation.</p>
            <p>Too often in the Caribbean, scarce public resources are spent investing in code, tools, and innovations that are either locked away behind proprietary, fee-based "firewalls", or created in a closed way that only make it accessible to a narrow set of actors.</p>
            <p>We believe opening up data, using open standards and investing in software as a "public good" strengthens the work of governments, researchers and civil society and opens up opportunities for contributions far beyond any individual entity. We try our best to apply these principles to all of our work, and have helped our partners leverage the network effects of being open in their organization.</p>
            <p>To learn more check out our GitHub Page or read about Developing The Caribbean, an annual Caribbean open data and ICT For Development Conference we help organize.</p>
            <p class="content_subtitle">Be Collaborative. Be Agile</p>
            <p>Effective services and tools emerge through ongoing collaboration and engagement with users to continually test and fine-tune solutions. This is a process of careful listening and agile pivots aimed at developing solutions that can intuitively meet the needs of all users.</p>
            <p>Being agile and collaborative helps teams build better services more aligned with user needs more quickly and affordably. Our process revolves around continually engaging with users to get their feedback through fast iterations of services to keep everyone updated on progress. This commitment to collaboration and iteration permeates throughout every stage of our work.</p>
            <p class="content_subtitle">Delivery Is the Strategy</p>
            <p>Delivery is at the heart of what we do. We believe Caribbean governments can work better in the 21st century. We believe working with the communities affected most by the problems can help drive more effective change. Our multidisciplinary teams works to demonstrate these beliefs through our work.</p>
            <p>Learn more about the digital services and tools we have helped create by visiting our project page.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer"></div>