{{> header}}
<!--------------------Hero-------------------->
<div id="hero" style="background-image: url(images/hackathon.jpg);">
</div>
<!------------------Content------------------->
<div id="content">
    <div class="label label_initative">INITIATIVE</div>
    <div id="content_title">Developing the Caribbean (DevCa)</div>
    <div id="content_text">
        <p>DevCa highlights the emergent trends globally and regionally in open data, public sector innovation and ICT4D. Launched in 2012, DevCa is one of the largest innovation and social impact conferences in the region. It started as a regional conference and code sprint in which teams of designers, developers and domain experts work together to build solutions to social problems using open data. It has grown to include workshops on mapping, programming and data journalism, reflecting the growing interest in the use of data across multiple disciplines. Events have been organized across the region in Jamaica, Trinidad & Tobago, The Dominican Republic, Cuba, Guyana and many other islands.</p>
        <p>Over the course of organizing DevCA, local organizing partners work with government agencies in their respective islands to open up new data sets and source problems to issues faced in the region. In the 2015 staging, the event attracted more than 280 conference attendants and 214 participating developers, from 5 countries. Ideas from 6 thematic areas were presented with 23 datasets and more than 27 applications being submitted regionally.</p>
        <p class="content_subtitle">Our Role</p>
        <p>As a lead organizer for DevCa we help define the strategic direction of the event and work with each local organizing partner to make their events a success. </p>
        <p class="content_subtitle">Why is this important to us?</p>
        <p>We believe the Caribbean is strongest when we work together. DevCa is both a celebration of Caribbean openness and a platform to further Champion the cause of a more open and collaborative region.</p>
        <p class="content_subtitle">How Can You Participate?</p>
        <p>Want to learn more about DevCa as an event or how you can organize an event in your country, reach out to our team via email here.</p>
        <p class="content_subtitle">Want more information?</p>
        <p><a href="http://developingcaribbean.org/">DevCa 2015</a></p>
    </div>
    <div class="clear"></div>
</div>
<!-------------------Footer------------------->
<div id="footer"></div>