{{!< default}}
		<div id="container">
            <!-------------------Header------------------->
            <div id="header">
                <div id="logo"></div>
                <div id="menu">
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                </div>
            </div>
            <!--------------------Hero-------------------->
            <a href="open_data_public_service.html">
            <div id="hero" style="background-image: url(/images/caribbean_tide_hero.jpg);">
                <div>
                    <div class="label label_idea">IDEAS</div>
                    A Caribbean Open Data Public Service
                </div>
            </div>
            </a>
            <!--------------------Grid-------------------->
            <div id="grid">
                <!-----------------Group1----------------->
                <div class="group" id="group_1">

                    <div class="colx1">
                        <a href="about.html">
                            <div class="small_box box_top" id="box1">
                                <div>
                                    <div class="label label_idea">IDEAS</div>
                                    Who We Are
                                </div>
                            </div>
                        </a>
                        <a href="devca.html">
                            <div class="small_box" id="box2">
                                <div>
                                    <div class="label label_initiative">INITIATIVE</div>
                                    Developing the Caribbean 2015 Dates Announced
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="colx2">
                        <a href="cftc.html">
                            <div class="large_box" id="box3">
                                <div>
                                    <div class="label label_initiative">INITIATIVE</div>
                                    Code for the Caribbean 2014: Harnessing the power of Open Data
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-----------------Group2----------------->
                <div class="group" id="group_2">
                    <div class="colx2">
                        <div class="large_box" id="box4">
                            <div>
                                <div class="label label_idea">IDEAS</div>
                                Agricultural Open Data:<br>
                                Perceptions of Young Developers
                            </div>
                        </div>
                    </div>
                    <div class="colx1">
                        <div class="small_box box_top" id="box5">
                            <div>
                                <div class="label label_idea">IDEAS</div>
                                Towards a Data-driven <br>
                                Agricultural Sector
                            </div>
                        </div>
                        <div class="small_box" id="box6">
                            <div>
                                <div class="label label_idea">IDEAS</div>
                                Towards a Data-driven <br>
                                Agricultural Sector
                            </div>
                        </div>
                    </div>
                </div>
                <!-----------------Group3----------------->
                <div class="group" id="group_3">
                    <div class="colx1">
                        <div class="small_box" id="news_box1">
                            <div>
                                <div class="label label_news">NEWS</div>
                                Digital Development Principles and the Caribbean Public Sector
                            </div>
                        </div>
                        <div class="news_text_box" id="news_text_box1">
                            <div>
                                20.08.15<br>
                                On Tuesday August 25th, Matthew McNaughton will be presenting on the "Principles for Digital Development" at the Caribbean Technology Innovation and Digital Economy (TIDE) Conference in Port of Spain, Trinidad & Tobago. The Principles are "living" guidelines on the best practices for creating technology-enabled programmes. You can see Matthew's presentation here and learn about the Principles on its <a href="http://digitalprinciples.org/">website</a>.
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="colx2">
                        <div class="small_box" id="news_box2">
                            <div>
                                <div class="label label_news">NEWS</div>
                                Translating the Sustainable Development Goals to Local Impact
                            </div>
                        </div>
                        <div class="news_text_box" id="news_text_box2">
                            <div>
                                27.10.15<br>
                                At the Open Government Partnership Summit in Mexico City
                                from October 27-29 Matthew McNaughton will be presenting
                                 on how SlashRoots have been making the recently adopted Sustainable
                                 Development Goals real at the local level. Matthew will be
                                 participating in the Code For All panel on "Harnessing the Capacity
                                 of the Community for Sustainable Open Government".
                                Follow OGP discussion Twitter using #OGP15.
                            </div>
                        </div>
                    </div>
                    <div class="colx3">
                      <div class="small_box" id="news_box3">
                          <div>
                              <div class="label label_event">EVENT</div>
                              StartUp Jam Series: <br>
                              Ben Cole of Kickstarter
                          </div>
                      </div>
                      <div class="news_text_box" id="news_text_box3">
                          <div>
                          28.10.15<br>
                          The next workshop in the StartupJAM entrepreneurial series will take place
                          on <strong>Wednesday, October 28, 2015</strong>
                          under the theme "How to build an airtight product strategy"
                          The guest speaker for the workshop is Ben Cole, Product Manager at Kickstarter.
                          Ben Cole is a leader who cares deeply about the social impact of technology.
                          He is currently a product manager at Kickstarter, advisor to the Clinton
                          campaign, and product management instructor at General Assembly.
                          </div>
                      </div>
                        <div style="clear:both; width:0px; height:0px;"></div>
                    </div>
                </div>
            </div>
            <!-------------------Footer------------------->
            <div id="footer"></div>
        </div>
    </body>
</html>
