<div class="container-fluid">
	<!-- NAV BAR -->
	<div class="row" ng-include="'app/modules/partials/navbar.html'"></div>
	<!-- CAROUSEL -->
	<div class="row" ng-include="'app/modules/partials/carousel.html'">

	</div>
</div>
<div class="container">
	<div class="row" ng-if="grp_one_small.length > 0">
		<div class="col-sm-12 col-md-4 col-lg-4">
			<div class="row">
				<a ng-href="#/{{content.link}}" ng-repeat="content in grp_one_small">
					<div class="col-sm-6 col-md-12 col-lg-12">
						<div class="box box-4col box-1"
						     style="background-image: url({{content.image.secure_url}});">
							<div class="box-caption">
								<div class="label label-text-2 black-text">IDEAS</div>
                                    <span class="title-2 white-text">
                                        {{content.title}}
                                    </span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<a ng-href="#/{{grp_one_lg.link}}" ng-if="grp_one_lg">
			<div class="col-sm-6 col-md-8 col-lg-8">
				<div class="box box-4col box-2"
				     style="background-image: url({{grp_one_lg.image.secure_url}});">
					<div class="box-caption">
						<div class="label label-text-2 black-text">IDEAS</div>
	                            <span class="title-2 white-text">
	                                {{grp_one_lg.title}}
	                            </span>
					</div>
				</div>
			</div></a>
		<div class="col-sm-6 hidden-md hidden-lg">
			<div class="box box-4col box-4">4</div>
		</div>
	</div>
	<div class="row" ng-if="grp_two_small.length > 0">
		<a ng-href="#/{{grp_two_lg.link}}">
		<div class="hidden-sm col-md-8 col-lg-8">
			<div class="box box-8col box-4" style="background-image: url({{grp_two_lg.image.secure_url}});">
				<div class="box-caption">
					<div class="label label-text-2 black-text">IDEAS</div>
                            <span class="title-2 white-text">
                                {{grp_two_lg.title}}
                            </span>
				</div>
			</div>
		</div></a>

		<div class="col-sm-12 col-md-4 col-lg-4" >
			<div class="row">
				<a ng-href="#/{{content.link}}" ng-repeat="content in grp_two_small">
				<div class="col-sm-6 col-md-12 col-lg-12">
					<div class="box box-4col box-5"
					     style="background-image: url({{content.image.secure_url}});">
						<div class="box-caption">
							<div class="label label-text-2 black-text">IDEAS</div>
                                    <span class="title-2 white-text">
                                        {{content.title}}
                                    </span>
						</div>
					</div>
				</div></a>
			</div>
		</div>
	</div>
	<div class="row" ng-if="news.length > 0">
		<div class="col-sm-12 col-md-4 col-lg-4" ng-repeat="item in news">
			<div class="box-news box-event-item" >
				<div class="box box-4col box-news-photo"
				     ng-style="{'background-image':'url({{item.image.secure_url}})'}"></div>
				<div class="box box-4col box-news-text">
					<p>{{item.publishedDate | date: 'dd.MM.yy'}}</p>
					<div ng-bind-html="item.content.brief | sanitize"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row" ng-include="'app/modules/partials/footer.html'"></div>
</div>