<div class="container-fluid">
	<!-- NAV BAR -->
	<div class="row" ng-include="'app/modules/partials/navbar.html'"></div>
	<!-- CAROUSEL -->
	<div class="row" ng-include="'app/modules/partials/carousel.html'">

	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-4">
			<div class="row">
				<a ng-href="#/{{page_content[0].link}}" ng-if="page_content[0]">
					<div class="col-sm-6 col-md-12 col-lg-12">
						<div class="box box-4col box-1" style="background-image: url({{page_content[0].image.secure_url}});">
							<div class="box-caption">
								<div class="label label-text-2 black-text">IDEAS</div>
                                    <span class="title-2 white-text">
                                        {{page_content[0].title}}
                                    </span>
							</div>
						</div>
					</div>
				</a>
				<a ng-href="#/{{page_content[1].link}}" ng-if="page_content[1]">
					<div class="col-sm-6 col-md-12 col-lg-12" ng-if="page_content[1]">
						<div class="box box-4col box-2"
						     style="background-image: url({{page_content[1].image.secure_url}});">
							<div class="box-caption">
								<div class="label label-text-2 black-text">IDEAS</div>
	                                    <span class="title-2 white-text">
	                                       {{page_content[1].title}}
	                                    </span>
							</div>
						</div>
					</div>
					</a>
			</div>
		</div>
		<a ng-href="#/{{page_content[2].link}}" ng-if="page_content[2]">
			<div class="col-sm-6 col-md-8 col-lg-8" ng-if="page_content[2]">
				<div class="box box-4col box-2"
				     style="background-image: url({{page_content[2].image.secure_url}});">
					<div class="box-caption">
						<div class="label label-text-2 black-text">IDEAS</div>
	                            <span class="title-2 white-text">
	                                {{page_content[2].title}}
	                            </span>
					</div>
				</div>
			</div></a>
		<div class="col-sm-6 hidden-md hidden-lg">
			<div class="box box-4col box-4">4</div>
		</div>
	</div>
	<div class="row">
		<a ng-href="#/{{page_content[3].link}}" ng-if="page_content[3]">
		<div class="hidden-sm col-md-8 col-lg-8" ng-if="page_content[3]">
			<div class="box box-8col box-4" style="background-image: url({{page_content[3].image.secure_url}});">
				<div class="box-caption">
					<div class="label label-text-2 black-text">IDEAS</div>
                            <span class="title-2 white-text">
                                {{page_content[3].title}}
                            </span>
				</div>
			</div>
		</div></a>

		<div class="col-sm-12 col-md-4 col-lg-4">
			<div class="row">
				<a ng-href="#/{{page_content[4].link}}" ng-if="page_content[4]">
				<div class="col-sm-6 col-md-12 col-lg-12" ng-if="page_content[4]">
					<div class="box box-4col box-5"
					     style="background-image: url({{page_content[4].image.secure_url}});">
						<div class="box-caption">
							<div class="label label-text-2 black-text">IDEAS</div>
                                    <span class="title-2 white-text">
                                        {{page_content[4].title}}
                                    </span>
						</div>
					</div>
				</div></a>
				<a ng-href="#/{{page_content[5].link}}" ng-if="page_content[5]">
				<div class="col-sm-6 col-md-12 col-lg-12" ng-if="page_content[5]">
					<div class="box box-4col box-6" style="background-image: url({{page_content[5].image.secure_url}});">
						<div class="box-caption">
							<div class="label label-text-2 black-text">IDEAS</div>
                                    <span class="title-2 white-text">
                                        {{page_content[5].title}}
                                    </span>
						</div>
					</div>
				</div></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-4" ng-repeat="item in news">
			<div class="box-news box-event-item" >
				<div class="box box-4col box-news-photo"
				     ng-style="{'background-image':'url({{item.image.secure_url}})'}"></div>
				<div class="box box-4col box-news-text">
					<p>{{item.publishedDate | date: 'dd.MM.yy'}}</p>
					<div ng-bind-html="item.content.brief | sanitize"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row" ng-include="'app/modules/partials/footer.html'"></div>
</div>