<div id="header">
    <a href="/"><div id="logo"></div></a>
    <div id="menu">
        <ul>
            {{# each data.menu}}
            <li><a href="/{{link}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>