/******************************************************/
/**  Site: SlashRoots.org                            **/
/**  Designer: david@slashroots.org                  **/
/**  Version: 2.0                                    **/
/**  Page Title: Stles.css                           **/
/**  Last Modified: 24/9/15                          **/
/******************************************************/


/******************************************************/
/********************* Base Styles ********************/
/******************************************************/

body {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
    height: auto;
    display: inline-block;
}

/*----------------------- Header ---------------------*/
#header {
    width: 100%;
    padding-bottom: 0.6%;
}
#logo {
    background-image: url(/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    padding-bottom: 3.5%;
    position: relative;
    margin-top: 1%;
    left: 1%;
    display: inline-block;
}
#menu {
    width: 70%;
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    display: none;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu ul li {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 1.35vmax;
    font-weight: 300;
    float: right;
    margin-left: 5%;

}
#hero {
    position: relative;
    width: 100%;
    padding-bottom: 45%;
    /*background-image: url(images/farmer.jpg);*/
    background-size: cover;
}
#hero > div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80%;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    padding-left: 4.5%;
    /* padding-top: 2%; */
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.6vmax;
    text-shadow: 1px 1px #000000;
    line-height: 110%;
}
#related-posts{
    position: relative;
    width: 96%;
    padding-bottom: 45%;
    background-size: cover;
}
p.title{
    margin-top: 0px;
}
/*----------------------------------------------------*/

/*---------------------- Content ---------------------*/
#content {
    position: relative;
    background: #ffffff;
    width: 95%;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#content_title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 20pt;
    color: #458e9e;
    width: 96%;
    margin-top: -30px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0px;
    float: left;
    clear: both;
}
.content_subtitle {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 15pt;
    margin-bottom: -10px;
    color: #3c3c3c;
}
#content_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: #3c3c3c;
    width: 96%;
    height: auto;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}
#content_text > p, #content_text > ol, #content_text > ul{
    width: 75%;
}

p > a {
    color: #458e9e;
}
.written_by {
    width: 23%;
    height: 200px;
    background-image: url(/images/matthew.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
}
.written_by_caption {
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2%;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.6vmax;
    text-shadow: 1px 1px #000000;
    line-height: 110%;
}
.content_image {
    width: 560px;
    height: 315px;
    margin-left: 20px;
    margin-bottom: 10px;
    float:right;

}

#content_image_1 {

}

.written_by_caption > a{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.3vmax;
    text-shadow: 1px 1px #000000;
    line-height: 110%;
    text-decoration: none;
}

.author{
    margin-left: 20px;
    text-transform: uppercase;
}

.author > h2{
    margin-top:0px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 12px;

}
.author > h4{
    margin-bottom: 0px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.related-posts{
    margin-left: 26px;
}

.related-posts > h2{
    font-weight: bold;
    color: #458E9E;
    font-family: 'Roboto Slab', serif;
}
/*----------------------------------------------------*/

/*----------------------- Grid -----------------------*/
#grid {
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.75%;
}
.group {
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    display: inline-block;
}

.card-wrapper{
    width: 96%;
    height: auto;
    margin-left: 0%;
    margin-right: 2%;
    margin-top: 0%;
    display: inline-block;
}

#group_1 > .colx1 {
    width: 32%;
    height: auto;
    float: left;
    clear: both;
}
#group_1 > .colx2 {
    width: 66%;
    float: right;
}
#group_2{
    display: none;
}
#group_2 > .colx1 {
    width: 32%;
    height: auto;
    float: right;
}
#group_2 > .colx2 {
    width: 66%;
    float: left;
    clear: both;
}
#group_3 > .colx1 {
    width: 31.75%;
    height: auto;
    float: left;
    margin-right: 2%;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #898989;
    bottom: 0px;

}
#group_3 > .colx2 {
    width: 31.75%;
    height: auto;
    float: left;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #898989;
    bottom: 0px;
}
#group_3 > .colx3 {
    width: 31.75%;
    height: auto;
    float: right;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #898989;
    bottom: 0px;
}
/*----------------------------------------------------*/

/*----------------------- Boxes ----------------------*/
#box1 {
    background-image: url(/images/post_its.jpg);
    background-size: cover;
}
#box2 {
    background-image: url(/images/devca.jpg);
    background-size: cover
}
#box3 {
    background-image: url(/images/cftc.jpg);
    background-size: cover;
}
#box4 {
    background-image: url(/images/agrihack.jpg);
    background-size: cover;
}
#box5 {
    background-image: url(/images/data-driven.jpg);
    background-size: cover;
}
#box6 {
    background-image: url(/images/data-driven.jpg);
    background-size: cover;
}
.small_box {
    /* background: green; */
    width: 100%;
    padding-bottom: 80%;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
.large_box {
    /* background: green; */
    width: 100%;
    padding-bottom: 80%;
    position: relative;
}
.small_box > div, .large_box > div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 2%;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.6vmax;
    text-shadow: 1px 1px #000000;
    line-height: 110%;
}
.small_box > div {
    top: 65%;
}
.large_box > div {
    top: 83.15%;
    padding-left: 2.15%;
    padding-top: 2.1%;
}
.posts{
    width: 100%;
    padding-bottom: 80%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}
/*----------------------------------------------------*/

/*-------------------- News Boxes --------------------*/
#news_box1 {
    /*background-image: url(/images/caribbean-tide.jpg);*/
    background-size: cover;
}
#news_box2 {
    /*background-image: url(/images/ogpsummit.jpg);*/
    background-size: cover;
}
#news_box3 {
    /*background-image: url(/images/ben.jpg);*/
    background-size: cover;
    background-position: center;
}
#news_text_box1 {

}
#news_text_box2 {

}
#news_text_box3 {

}
.box_top {
    margin-bottom: 5%;
}
.news_text_box {
    width: 100%;
    padding-bottom: 0;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
.news_text_box > div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    margin: 5%;
}
.pub_date{
    margin-top: 0px;
}

.news_content > p{
    margin-top: 0px;
}
/*----------------------------------------------------*/

/*----------------------- Labels ---------------------*/
.label {
    height:15px;
    margin-top:-4.25%;
    margin-bottom: 2.25%;
    padding-left: 5px;
    padding-top: 5px;
    line-height: normal;
    font-family: sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 8pt;
    text-shadow: 0px 0px #000000;
}
#hero > div > .label {
    margin-top:-1%;
    margin-bottom: .75%;
    line-height: normal;
}
.label_idea {
    width: 37px;
}
.label_initiative {
    width: 55px;
}
.label_news {
    width: 36px;
}
.label_event {
    width: 38px;
}
.large_box > div > .label {
    margin-top: -3.2%;
    margin-bottom: 1%;
}
.large_box > div >.label_idea {
    width: 4.75%;
}
#content > .label {
    background: #ffffff;
    height:15px;
    margin-top:-4.25%;
    position: relative;
    margin-bottom: 2.25%;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 2px;
    top: -12px;
    left: 20px;
    line-height: normal;
    font-family: sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 8pt;
    text-shadow: 0px 0px #000000;
    border: 1px solid #000000;
}
#content > .label_idea {
    width: 40px;
}
#content > .label_initative {
    width: 60px;
}
.label_written_by{
    width: 55px
}
/*----------------------------------------------------*/

/*----------------------- Footer ---------------------*/
#footer {
    width: 100%;
    height: 250px;
    background: #898989;
}
.clear {clear: both; height: 0px; width: 0px;}
/*----------------------------------------------------*/

/******************************************************/
/******************************************************/
/******************************************************/





/******************************************************/
/************************ Tablet **********************/
/******************************************************/
@media only screen and (min-width: 768px) and (max-width: 1024px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)
{
body {

}
#grid {
    width: 100%;
}
.small_box > div, .large_box > div{
    font-size: 1.3vmax;
}
#hero > div {
    font-size: 1.3vmax;
}
/*----------------------- Labels ---------------------*/
.label {
    height:12px;
    margin-top:-4.25%;
    margin-bottom: 2.25%;
    padding-left: 4px;
    padding-top: 4px;
    line-height: normal;
    font-family: sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 6pt;
    text-shadow: 0px 0px #000000;
}
.label_idea {
    width: 29px;
}
.label_initiative {
    width: 44px;
}
.label_news {
    width: 27px;
}
.label_event {
    width: 30px;
}
.large_box > div > .label {
    margin-top: -3.2%;
    margin-bottom: 1%;
}
.large_box > div >.label_idea {
    width: 4.75%;
}
#content > .label_idea {
    width: 40px;
    height: 15px;
}
/*----------------------------------------------------*/
}
/*------------------ General Tablet ------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px)
{
.small_box > div, .large_box > div{
    font-size: 2vmax;
}
#hero > div {
    font-size: 2vmax;
}
}
/******************************************************/
/******************************************************/
/******************************************************/




/******************************************************/
/************************ Phone ***********************/
/******************************************************/
@media only screen and (min-width: 320px) and (max-width: 768px),
/*---- Default -----*/ only screen and (min-device-width: 320px) and (max-device-width: 768px),
/*---- iPhone 4 ----*/ only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
/*---- iPhone 5 ----*/ only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2),
/*---- iPhone 6 ----*/ only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
/*---- iPhone 6+ ---*/ only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3),
/*---- Nexus 4 -----*/ only screen and (min-device-width: 384px) and (max-device-width: 567px) and (-webkit-device-pixel-ratio: 2),
/*---- Nexus 5 -----*/ only screen and (min-device-width: 360px) and (max-device-width: 567px) and (-webkit-device-pixel-ratio: 3),
/*---- Galaxy S3 ---*/ only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 2),
/*---- Galaxy S4 ---*/ only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 3),
/*---- Galaxy S5 ---*/ only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),
/*---- Generic S ---*/ only screen and (min-device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 1)
{

    body {

    }

/*----------------------- Grid -----------------------*/
#grid {
    width: 96%;
}
#group_1 > .colx1 {
    width: 49%;
    height: auto;
    float: left;
    clear: both;
}
#group_1 > .colx2 {
    width: 49%;
    float: right;
}
#group_2 > .colx1 {
    width: 49%;
    height: auto;
    float: right;
    margin-top: -41.1%;
}
#group_2 > .colx2 {
    margin-top: 0.66%;
    width: 49%;
    float: left;
}
#group_3 > .colx1, .colx2, .colx3 {
    width: 48.65%;
    height: auto;
    float: left;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #898989;
    bottom: 0px;
    margin: 0px;
}
#group_3 > .colx2 {
   /* width: 48.65%;
    height: auto;
    float: right;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #898989;
    bottom: 0px;
    margin: 0px;*/
}
#group_3 > .colx3 {
    /*width: 100%;
    height: auto;
    float: left;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #898989;
    margin-top: 2%;
    margin-bottom: 10%;
    bottom: 0px;*/
}
/*----------------------------------------------------*/

/*----------------------- Boxes ----------------------*/
#group_3 > .colx3 > #news_box3{
    width: 49%;
    float: left;
    padding-bottom: 45%;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
.small_box > div, .large_box > div{
    font-size: 1.5vmax;
}
#hero > div {
    font-size: 1.5vmax;
}
.news_text_box > div > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11pt;
}
#news_text_box3 {
    width: 49%;
    height: auto;
    float: right;
    height: auto;
}
.large_box > div {
    top: 65%;
        padding-left: 4.5%;
        padding-right: 4.5%;
}
/*----------------------------------------------------*/

/*----------------------- Labels ---------------------*/
.label {
    height:12px;
    margin-top:-4.25%;
    margin-bottom: 2.25%;
    padding-left: 4px;
    padding-top: 4px;
    line-height: normal;
    font-family: sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 6pt;
    text-shadow: 0px 0px #000000;
}
.label_idea {
    width: 29px;
}
.label_initiative {
    width: 44px;
}
.label_news {
    width: 27px;
}
.label_event {
    width: 30px;
}
.large_box > div > .label {
    margin-top: -3.2%;
    margin-bottom: 1%;
}
.large_box > div >.label_idea {
    width: 4.75%;
}
#content > .label_idea {
    width: 40px;
    height: 15px;
}
/*----------------------------------------------------*/


}
/*---- Default Phone ---*/
@media only screen and (min-width: 320px) and (max-width: 768px)
{
#container {
    min-width: 500px;
}
.small_box {
    float: left;
    }
.small_box > div, .large_box > div{
    font-size: 2vmax;
    top: 55%;
}
#hero > div {
    font-size: 2vmax;
    top: 70%
}
#group_3 > .colx3 {
padding-bottom: 0%;
    overflow: hidden;
    padding-bottom: 0%;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
#news_text_box3 {
    width: 49%;
    height: 25%;
    float: right;
    overflow: hidden;
}
}
/******************************************************/
/******************************************************/
/******************************************************/