<div class="no-padding col-sm-12 col-md-12 col-lg-12">
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div id="logo-white"></div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-4 col-sm-offset-0 col-md-offset-4 col-lg-offset-4">
					<div id="icons">
						<i class="demo-icon icon-facebook-rect">&#xe801;</i>
						<i class="demo-icon icon-twitter-bird">&#xe803;</i>
						<i class="demo-icon icon-github">&#xe805;</i>
						<!-- <i class="demo-icon icon-instagram">&#xe807;</i> -->
						<i class="demo-icon icon-travis-ci-icon">&#xe808;</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>