<div class="no-padding col-sm-12 col-md-12 col-lg-12">
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-4">
					<a href="#/">
						<div id="logo-white"></div>
					</a>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-4 col-sm-offset-0 col-md-offset-4 col-lg-offset-4">
					<div id="icons">
						<a href="https://www.facebook.com/slashroots" target="_blank"
						   style="text-decoration: none;">
							<i class="demo-icon icon-facebook-rect">&#xe801;</i>
						</a>
						<a href="https://twitter.com/slash_roots" target="_blank"
						   style="text-decoration: none;">
							<i class="demo-icon icon-twitter-bird">&#xe803;</i>
							</a>
						<a href="https://github.com/slashroots" target="_blank"
						   style="text-decoration: none;">
						<i class="demo-icon icon-github">&#xe805;</i>
							</a>
						<!-- <i class="demo-icon icon-instagram">&#xe807;</i> -->
						<a href="https://travis-ci.org/slashroots" target="_blank"
						   style="text-decoration: none;">
						<i class="demo-icon icon-travis-ci-icon">&#xe808;</i>
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>